.clock_container_style{
    background-color: rgba(0, 0, 0, 0.363);
    padding:10px;
    border-radius: 20px;
    margin:3px;
    margin-bottom: 3px;
    
    

}

.date_label_style{
    font-size: 30px;
    color:red;
}
.month_label_style{
    font-size: 20px;
    color:white;
}
.weekday_label_style{
    font-size: 24px;
    color:white;
}

.weather_container_style{
    background-color: rgba(0, 0, 0, 0.363);
    padding:10px;
    border-radius: 20px;
    margin:3px;
    margin-bottom: 3px;
    color:white;
    
}
.main_forecast_container_style{
    background-color: rgba(0, 0, 0, 0.363);
    padding:10px;
    border-radius: 20px;
    margin:3px;
    margin-bottom: 3px;  
}
.forecast_container_style{
    background-color: rgba(0, 0, 0, .6);
    padding:10px;
    border-radius: 20px;
    margin:3px;
    margin-bottom: 3px;
    width:85px;
}

.whead_label_style{
    text-align: center;
    font-size: 30px;
    color:white;
    
}
.wloc_label_style{
    text-align:center;
    font-size: 20px;
    
}
.wbody_label_style{
    font-size: 14px;
    padding-left:10px;
}
.fday_label_style{
    text-align:center;
    font-size: 14px;
    color:white;
}

.compact_container_style{
    background-color: rgba(0, 0, 0, 0.363);
    padding:10px;
    border-radius: 20px;
    margin:3px;
    margin-bottom: 3px;
    height:120px;
}
.compact_cur_container_style{
    padding:5px;
    color:white;
    width:110px;
    
}
.compact_for_container_style{
    color:white;
    height:120px;
    
}

.comloc_label_style{
    text-align:center;
    font-size: 16px;
    color:white;
    margin-bottom: 5px;
}

.comtemp_label_style{
    text-align:center;
    font-size: 20px;
    color:white;
    
    margin-bottom: 10px;
}

.compact_day_container_style{
    
    height:110px;
    padding:5px;
    padding-top: 10px;
    border-radius: 15px;
    margin-bottom:0px;
    margin-left:5px;
    margin-right: 5px;
    background-color: rgba(0, 0, 0, .4);
}

