.container {
    background-color: #000000;
}

.normalLabel {
    color: #ffffff;
}

.perfectGrade {
    color: #2ea801;
}

.almostPerfectGrade {
    color: #81a801;
}

.goodGrade {
    color: #d6e04c;
}

.middleGrade {
    color: #f7eb09;
}

.badGrade {
    color: #ed6002;
}

.reallyBadGrade {
    color: #fc1302;
}.container {
    background-color: #000000;
}

.normalLabel {
    color: #ffffff;
}

.perfectGrade {
    color: #2ea801;
}

.almostPerfectGrade {
    color: #81a801;
}

.goodGrade {
    color: #d6e04c;
}

.middleGrade {
    color: #f7eb09;
}

.badGrade {
    color: #ed6002;
}

.reallyBadGrade {
    color: #fc1302;
}.container {
    background-color: #000000;
}

.normalLabel {
    color: #ffffff;
}

.perfectGrade {
    color: #2ea801;
}

.almostPerfectGrade {
    color: #81a801;
}

.goodGrade {
    color: #d6e04c;
}

.middleGrade {
    color: #f7eb09;
}

.badGrade {
    color: #ed6002;
}

.reallyBadGrade {
    color: #fc1302;
}
