/* battery body */
.battery {
	background-size: 140px 66px;
	width: 140px; height: 66px;

	border: 1px solid transparent; /* required for box-shadow */
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.35);
}
.full {
	background-image: url('img/bg_full.png');
}
.green {
	background-image: url('img/bg_green.png');
}
.red {
	background-image: url('img/bg_red.png');
}
.red-low {
	background-image: url('img/bg_red_low.png');
}
.empty {
	background-image: url('img/bg_empty.png');
}

/* segment: green bar with variable width */
.segment {
	background-image: url('img/segment-green.png');
	background-position: 14px 0px;
	width: 140px; height: 66px;
}

/* label which shows the capacity */
.text {
	color: white;
	font-family: "DejaVu Sans", Sans-serif;
	font-weight: 100;
	font-size: 22px;

	/* strange: only working after first mouse hover :-( */
	/*text-shadow: 0px 0px 5px rgba(0,0,0,0.85);*/
}
.text-hidden {
	width: 0px; height: 0px;
}

/* icons on top of the battery */
.container {
	padding: 0px 1px;
}
.symbol {
	border: 1px solid transparent; /* required for box-shadow */
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.7);
	width: 40px; height: 40px;
}
.warn {
	background-image: url('img/warn.svg');
}
.plug {
	background-image: url('img/plug.svg');
}
.flash {
	background-image: url('img/flash.svg');
}
.hidden {
	width: 0px; height: 0px;
}
