/* label which shows the capacity */
.text, .subtext {
	color: white;
	font-family: "DejaVu Sans", Sans-serif;
	font-weight: 100;
	text-align: center;
	text-shadow: 0px 0px 4px rgba(0,0,0,0.2);
}
.subtext {
	text-shadow: 0px 0px 4px rgba(0,0,0,0.4);
}
