.quotes-reader {
  padding: 5px;
  border: 2px solid #ffffff;
  border-radius: 12px;
  color: #ffffff;
}

.quotes-label {
  text-align: left;
  padding: 0.1em 0 0.2em 0;
}

.quotes-number {
  text-align: right;
  padding: 0.1em 0 0.2em 0;
}

.quotes-last-update {
  text-align: center;
  padding: 5px 0 0 0;
}

.error-label {
  text-align: left;
  color: #cc0000;
}
