.window {
    border: 2px solid #848688;
    border-radius: 10px;
}

.label {
    font-size: 14px;
    color: #ffffff;
    padding: 0px;
    padding-right: 50px;
    border-radius: 5px;
    text-align: center;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}