.sticky-button {
        padding: 0px;
}

.sticky-button-selected {
        padding: 0px;
}

.sticky-button-box {
        padding: 0px 4px 0px 4px;
}

.sticky-main-box-staples {
	padding: 0px 4px 0px 4px;
        border-radius: 12px 12px 12px 12px;
        text-shadow: 1px 1px 2px #000;
        font-weight: bold;
        background-color: rgba(255,255,255,1.0);
}

.sticky-main-box-none {
	padding: 0px 4px 0px 4px;
        border-radius: 12px 12px 12px 12px;
        text-shadow: 1px 1px 2px #000;
        font-weight: bold;
        background-color: rgba(0,0,0,1.0);
}

.sticky-title-label {
        text-align: center;
        max-width: 100px;
        padding: 0px 4px 0px 4px;
}

.sticky-information-label {
        padding: 0px 4px 0px 4px;
}

.sticky-text-box {
	padding: 0px;
	border-radius: 4px;
	border: 2px solid rgba(245,245,245,0.2);
	background-gradient-start: rgba(255,255,255,1.0);
	background-gradient-end: rgba(90,90,90,1.0);
	background-gradient-direction: vertical;
	transition-duration: 300;
	box-shadow: inset 0px 2px 4px rgba(0,0,0,0.6);
}

.sticky-text-box:active {
	padding: 0px;
	border-radius: 4px;
	border: 2px solid rgba(245,245,245,0.2);
	background-gradient-start: rgba(255,255,255,1.0);
	background-gradient-end: rgba(190,190,190,1.0);
	background-gradient-direction: vertical;
	transition-duration: 300;
	box-shadow: inset 0px 2px 4px rgba(0,0,0,0.6);
}

#sticky-note-entry {
	padding: 4px;
	color: rgb(49, 49, 49);
	selected-color: black;
	caret-color: rgb(128, 128, 128);
	caret-size: 1px;
}
