.time-container {
	padding: 0em;
	margin: 0em;
}

.date-container {
	padding: 0em;
	margin: 0em;
}

.time-label {
	padding: 0em;
	margin: 0em;
	text-align: center;
}

.date-label {
	padding: 0em;
	margin: 0em;
	text-align: center;
}