.game-container:hover {
  background-color: rgba(58, 64, 74, 0.5);
}

.reload-button:hover,
.play-button:hover,
.shop-button:hover {
  background-color: #67707b;
}

.header-label {
  font-weight: bold;
}

.error-label {
  color: red;
}

.no-games-label {
  text-align: center;
}
