.calc-button {
    height: 40px;
    width: 50px;
    border-width: 1px;
    border-color: #292929;
    border-radius: 4px;
    margin: 0px;
    background-color: #454545;
    color: white;
}
.calc-button:hover {
    background-color: #525252;
}
.calc-button:active {
    background-color: #92b372;
}
.calc-mainBox.light .calc-button {
    background-color: #F5F5F5;
    border-color: #BDBDBD;
    color: black;
}
.calc-mainBox.light .calc-button:hover {
    background-color: #FFF;
}
.calc-mainBox.light .calc-button:active {
    background-color: #92b372;
}

.calc-button-padding {
    padding: 4px;
}

.calc-mainBox {
    background-color: #2F2F2F;
    border-radius: 4px;
    padding: 8px;
}
.calc-mainBox.light {
    background-color: #F0F0F0;
}

.calc-displayArea {
    padding: 4px;
}

.calc-displayWindow {
    height: 44px;
    background-color: #ffffff;
    border-width: 1px;
    border-color: #454545;
    border-radius: 2px;
    padding: 10px;
}
.calc-displayWindow-rpn {
    /*height: 5px;*/
    background-color: #ffffff;
    border-width: 1px;
    border-color: #454545;
    border-radius: 2px;
    padding: 10px;
}
.calc-mainBox.light .calc-displayWindow,
.calc-mainBox.light .calc-displayWindow-rpn {
	border-color: #BDBDBD;
}

.calc-displayText-primary {
    font-size: 26px;
    color: #555;
    text-align: right;
}

.calc-displayText-secondary {
    font-size: 10px;
    color: #555;
    text-align: right;
}

.calc-displayText-operation {
    font-size: 22px;
    color: #555;
}

.calc-displayText-status {
    font-size: 8px;
    color: #555;
}

.calc-displayText-rpn {
    color: #555;
}

.calc-stackArea {
    height: 85px;
    padding-top: 8px;
}

.calc-navigation-box {
    padding: 0px 0px 0px 8px;
    width: 22px;
}

.calc-navigation-icon {
    color: #555;
    icon-size: 16px;
}

.calc-navigation-button {
    border: solid 1px #555;
    border-radius: 3px;
}
