.boot-time-main-container {
  spacing: 0.5em;
}

.boot-time-row,
.boot-time-row-total {
  border-radius: 5px;
  padding: 0.3em;
  spacing: 1em;
}

.boot-time-error-bin,
.boot-time-loading-bin {
  max-width: 10em;
}
