
.container {
    padding: 10px 5px 5px 5px;
    font-family: Ubuntu, sans-serif, serif;
    font-weight: bold;
    text-align: center;
}

.row {
    margin: 2px auto;
}

.apikey {
    font-size: 14px;
    padding-bottom: 10px;
}

.loading {
    font-size: 16px;
    padding-bottom: 10px;
}

.header {
    color: #73c4ff;
}

.headerID {
    color: #73c4ff;
}

.containerPrice {
    color: #f9a7b5;
    text-align: center;
    margin: 2px auto 5px auto;
}

.containerCenter .left {
    text-align: right;
    padding-right: 3px;
    line-height: 1.2;
}

.containerCenter .right {
    text-align: left;
    padding-left: 3px;
    line-height: 1.2;
}

.red {
    color: #ff4b48;
}

.green {
     color: #5eb160;
}

.lastUpdated {
    text-align: right;
    margin: 5px 0;
    padding-right: 10px;
}
