
.container {
    padding: 10px 5px 5px 5px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    background-color: #303030;
    border-radius: 10px;
}

.loading {
    font-size: 16px;
    padding-bottom: 10px;
}

.header {
    color: #73c4ff;
    font-size: 16px;
}

.headerID {
    color: #73c4ff;
}

.containerPrice {
    color: #f9a7b5;
    text-align: center;
    font-size: 20px;
}

.containerCenter .left {
    text-align: right;
    padding-right: 3px;
    line-height: 1.2;
}

.containerCenter .right {
    text-align: left;
    padding-left: 3px;
    line-height: 1.2;
}

.red {
    color: #ff4b48;
}

.green {
     color: #5eb160;
}

.lastUpdated {
    text-align: right;
    margin-top: 5px;
    font-size: 10px;
}
