.toolbar-container {
	border-radius: 0.32em;
	padding: 5px 10px;
}

.toolbar-icon-btn {
	border-radius: 0.32em;
	padding: 0.15em;
}

.toolbar-icon-btn:hover {
	box-shadow: 0px 0px 0px 999px inset rgba(255,255,255,0.15);
	background-color: rgba(255,255,255,0.1);
}
.toolbar-icon-btn:active {
	box-shadow: 0px 0px 0px 999px inset rgba(255,255,255,0.4);
	background-color: rgba(255,255,255,0.3);
}

.todo-item {
	color: black;
	font-weight: 500; 
	border-radius: 0.32em;
	padding: 0.12em 0.15em;
	margin: 0.12em 0;
}

.todo-item:hover {
	border-radius: 0.5em;
	box-shadow: 0px 0px 0px 999px inset rgba(255,255,255,0.15);
	background-color: rgba(255,255,255,0.1);
}

.todo-item.selected {
	border-radius: 0.7em;
	box-shadow: 0px 0px 0px 999px inset rgba(255,255,255,0.4);
	background-color: rgba(255,255,255,0.3);
}

.todo-item-icon {
	padding-left: 0.15em;
	padding-right: 0.15em;
	margin-left: 0.1em;
	margin-right: 0.15em;
}

.todo-item-icon-btn:hover {
	border-radius: 0.32em;
	box-shadow: 0px 0px 0px 999px inset rgba(255,255,255,0.15);
	background-color: rgba(255,255,255,0.1);
}
.todo-item-icon-btn:active {
	border-radius: 0.5em;
	box-shadow: 0px 0px 0px 999px inset rgba(255,255,255,0.4);
	background-color: rgba(255,255,255,0.3);
}

.todo-item-entry {
	padding: 0.00em 0.1em;
}


