.clock-container {
    width: 400px;
    height: 200px; 
    text-transform: uppercase;
}

.time-container {
    width: 400px; 
    height: 140px;
    z-index: 1;
padding-top: 0px;
}

.day-container {
    width: 400px; 
    height: 140px;
    z-index: 3;
    pointer-events: none; 
    margin-top: 0px;
padding-top: 26px; 
}

.date-container {
    width: 400px;
    height: 50px; 
    z-index: 2;
margin-top: 100px;
padding-top: 10px;
}
.clock-container, .time-container, .date-container {
    text-transform: uppercase;
}
