.button {
	border-radius: 8px;
	padding: 0.15em;
}

.button:hover {
	box-shadow: 0px 0px 0px 999px inset rgba(255,255,255,0.15);
	background-color: rgba(255,255,255,0.1);
}
.button:active {
	box-shadow: 0px 0px 0px 999px inset rgba(255,255,255,0.4);
	background-color: rgba(255,255,255,0.3);
}

.icon {
	padding: 0.2em;
	/* margin: 0em 0.3em; */
	margin: 0.2em;
}

.label {
	margin: 0.25em 0.4em;
	margin-top: 0;
	text-align: center;
}