/* ===================================================================
 * Principal box style
 * ===================================================================*/
.drives-main-box {
}

/* ===================================================================
 * The style of the box that containt particular drive or category information
 * ===================================================================*/
.drives-drive-box {
}

/* ===================================================================
 * The box that containt the two top text 
 * ===================================================================*/
.drives-top-text-drive-box {
    spacing: 4px;
}

/* ===================================================================
 * The box that containt the two buttom text (the second text only show when hdd temp is active) 
 * ===================================================================*/
.drives-bottom-text-drive-box {
    padding-top: 2px;
    spacing: 4px;
}

/* ===================================================================
 * All text entries
 * ===================================================================*/

.drives-left-top-text {
}

.drives-right-top-text {
}

.drives-left-bottom-text {
}

.drives-right-bottom-text {
}

/* ===================================================================
 * The box that contain all drive information
 * ===================================================================*/
.drives-info-drive-box {
}

/* ===================================================================
 * The box that contain all percents leds
 * ===================================================================*/
.drives-meter-box {
   spacing: 2px;
}

/* ===================================================================
 * The box that contain all leds
 * ===================================================================*/
.drives-meter {
   min-height: 6px;
   spacing: 2px;
}

/* ===================================================================
 * The led box
 * ===================================================================*/
.drives-meter-led {
}

/* ===================================================================
 * The eject button
 * ===================================================================*/
.drives-eject-button-box {
    padding-left: 4px;
    padding-right: 4px;
}
/* ===================================================================
 * The icon button
 * ===================================================================*/
.drives-icon-button-box {
   padding: 4px;
}
