.github-contribution-grid-container {
  border-radius: 2px;
}

.day-bin {
  margin: 0.2em;
  width: 1em;
  height: 1em;
}

.github-contribution-grid-reload-bin {
  background-color: transparent;
  margin: 0.2em;
  width: 1em;
  height: 1em;
  padding: 0.5em;
}

.github-contribution-grid-reload-bin:hover {
  background-color: rgba(80, 80, 80, 0.363);
}
