.day-bin {
  border-color: transparent;
}

.day-bin:hover {
  border-color: white;
}

.github-contribution-grid-error-reload-button:hover,
.github-contribution-grid-reload-button:hover,
.github-contribution-grid-user-button:hover,
.github-contribution-grid-link:hover {
  background-color: rgba(80, 80, 80, 0.3);
}
