.github-contribution-grid-container {
  border-radius: 2px;
}

.day-bin {
  margin: 0.2em;
  width: 1em;
  height: 1em;
}

.github-contribution-grid-reload-bin {
  background-color: transparent;
  margin: 0.2em;
  width: 1em;
  height: 1em;
  padding: 0.5em;
}

.github-contribution-grid-reload-bin:hover {
  background-color: rgba(80, 80, 80, 0.363);
}

.github-contribution-grid-link {
  padding: 0.5em;
  border: 1px solid gray;
}

.github-contribution-grid-link:hover {
  background-color: rgba(80, 80, 80, 0.3);
}

.github-contribution-grid-error-message {
  color: red;
}
