/**
 * 
 * So much CSS is not supported...
 * just went with the standard label for now.
 * 
 * */

.wrapper {    
    width: 250px;
    height: 250px;
}

.gauge-wrapper {
	text-align: center;
	vertical-align: middle; /* Not supported */
	
	width: 250px;
    height: 250px;
	
	-webkit-border-radius: 250px;
	-moz-border-radius: 250px;
	border-radius: 250px;
}

.reading {	
	color: #FFFFFF;
	font-size: 50px;
	text-shadow: 2px 2px 8px #222222;
}

.gray {
	background-color: #DFDFDF;
	-webkit-border-radius: 250px; /* Percent is not supported... */
	-moz-border-radius: 250px;
	border-radius: 250px;
}

.green {
	background-color: #2ecc71;
	-webkit-border-radius: 250px;
	-moz-border-radius: 250px;
	border-radius: 250px;
}

.orange {
	background-color: #f39c12;
	-webkit-border-radius: 250px;
	-moz-border-radius: 250px;
	border-radius: 250px;
}

.red {
	background-color: #e74c3c;
	-webkit-border-radius: 250px;
	-moz-border-radius: 250px;
	border-radius: 250px;
}



.quote-container{
	color:#fff;
	font-size: 15pt;
	text-align: left;
	text-shadow: 1px 1px 2px #000;
}

