.timer-input-button {
  font-size: 1.8em;
  /* padding: 0.5em 0.8em; */
  margin: 0.1em;
  background-color: rgba(24, 23, 23, 0.527);
  border-radius: 1em;
  height: 2em;
  width: 2em;
}

.timer-input-button-action:hover,
.timer-input-button:hover {
  background-color: rgba(65, 61, 61, 0.527);
}

.timer-time-label {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
}
