.clocket-day-label {
  color: red;
}

.clocket-forecast-day-label {
  text-align: center;
}

.clocket-current-location-label,
.clocket-current-description-label {
  text-align: center;
}

.clocket-current-temperature-label {
  text-align: center;
}
