.stocks-reader {
    padding: 5px;
    border : 2px solid #ffffff;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 12px;
}

.stocks-box {

}

.stocks-label {
    text-align : center;
}

.stocks-table-item {
    padding-left : 2px;
    padding-right : 5px;
}

.one-stock-box {
    color : #336699;
    padding : 3px 0px 0px 0px;
}

.one-stock-box-label {
    padding : 0px 0px 0px 5px;
}
